body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 10vh 15vw 0px;
    text-transform: uppercase;
}
div{
    border-style: solid;
    align-self: center;
}

/*Barra de Status*/
div#status{

    display: flex;
    position: relative;
}
img{
    width: 35px;
    position: relative;
    float: left;
}
div#icone{
    width: 100%;
    border-color: black;
    display: flex;
}
p.icone{
    margin: 0px;
    text-align: end;
}

/*Area da Descrição*/
div#descricao{
    height: 350px;
}

/*Entrada do Usuario*/
div#comando{
    display: flex;
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: black;
    color: white;
}
input#txtcomando{
    width: 100%;
    border-color: black;
}
input#submit{
    float: right;
    position: relative;
}
